# 14. 그룹화
---
- 동일한 값을 가진 것들끼리 합쳐서 통계 또는 평균 등의 값을 계산하기 위해 사용

In [1]:
import pandas as pd
df = pd.read_csv('data/customers3.csv', index_col='고객ID')
df

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35   시흥  Electronics         75         70        78        92
C002  이영희  30   안양      fashion         85         92        88        85
C003  박지성  35   울산          NaN         95        110        91        88
C004  최민아  40   창원      Fashion         92        105        82        96
C005  정수빈  28   구로      Fashion         82         88        94        79
C006  윤태영  27   시흥  Electronics         88         95        85        91
C007  한유진  31   파주          NaN         68         65        77        83
C008  강민호  29   일산       Sports         98        125        96        90

**`groupby()` 함수**
- 데이터를 특정 기준에 따라 그룹화하여 집계 연산을 수행한다.
- 이를 통해 데이터의 패턴을 발견하거나 요약 통계를 얻는 데 매우 유용하다.        
- 기본적인 그룹화`groupby()`는 주어진 열을 기준으로 데이터를 그룹화하고, <br>
    그 결과에 대해 다양한 집계 연산을 적용할 수 있다

In [2]:
group = df.grouby('주요관심사').get_group('Electronics')
group

AttributeError: 'DataFrame' object has no attribute 'grouby'

In [3]:
df.grouby('거주도시').size()

AttributeError: 'DataFrame' object has no attribute 'grouby'

In [4]:
# 주요관심사가 일렉틀닉스인 데이터의 재구매의사점수 평균
df.groupby('주요관심사').get_group('Electronics')['재구매의사(점)'].mean()

np.float64(91.5)

**`agg()`**
- 그룹화된 데이터에 대해 원하는 집계 연산을 적용하여 요약 통계를 얻을 수 있다.

데이터 집계함수를 사용해보기 위한 DataFrame 수정

In [5]:
# 첫번째 문자가 대문자인지 아닌지 대문자가 아니면 대문자로 변환

def capitalize(interest):
    # notnull() : NaN인지 아닌지 NaN 이면 False 아니면 True
    if pd.notnull(interest):
        return interest.capitalize()
    return 'Sports'

In [6]:
df['주요관심사'] = df['주요관심사'].apply(capitalize)
df

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35   시흥  Electronics         75         70        78        92
C002  이영희  30   안양      Fashion         85         92        88        85
C003  박지성  35   울산       Sports         95        110        91        88
C004  최민아  40   창원      Fashion         92        105        82        96
C005  정수빈  28   구로      Fashion         82         88        94        79
C006  윤태영  27   시흥  Electronics         88         95        85        91
C007  한유진  31   파주       Sports         68         65        77        83
C008  강민호  29   일산       Sports         98        125        96        90

주요관심사별로 고객만족도와 재구매의사의 최소,최대,총합,평균 계산

In [10]:
aggregated = df.groupby('주요관심사').agg(
    {
        '재구매의사(점)' : ['min', 'max', 'sum','mean'],
        '고객만족도(점)' : ['min', 'max', 'sum','mean']
    }
)
aggregated

            재구매의사(점)                     고객만족도(점)
                 min max  sum       mean      min max  sum  mean
주요관심사
Electronics       91  92  183  91.500000       78  85  163  81.5
Fashion           79  96  260  86.666667       82  94  264  88.0
Sports            83  90  261  87.000000       77  96  264  88.0